.carousel-inner {
  width: 100%;
  .carousel-item {
    a {
      width: 100%;
      text-decoration: none;
      color: white;
    }
  }
  .carrousel-image {
    width: 100%;
    object-fit: cover;
  }
}
