.news {
  .group-button {
    padding: 10px 10px;
    button {
      padding: 5px 5px;
      border-radius: 15px;
      border-color: #2a2a2a;
      background-color: #f9f4ed;
      font-size: 20px;
      margin-right: 10px;
      margin-bottom: 10px;
      text-decoration: none;
    }

    button:hover {
      color: #f9f4ed;
      background-color: #2a2a2a;
    }
  }
  .borders {
    border-right: solid 1px black;
  }
  .borders:nth-child(even) {
    border-right: none;
  }
  .group-news {
    height: 100%;
    border-top: solid 1px #2a2a2a;

    .left {
      display: flex;
      justify-content: start;
      align-items: flex-start;

      .news-body {
        background-color: #f9f4ed;

        padding: 5px 5px;
      }
      a {
        width: 100%;
        text-decoration: none;
        color: black;
        text-align: center;
        font-size: 15px;
        padding-bottom: 5px;
      }
    }
    .right {
      display: flex;
      justify-content: end;
      align-items: flex-end;

      .news-img-top {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
